<div class="sidebar" data-color="blue" data-image="app/layouts/sidebar/sidebar-1.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    Fort <span class="navbar-version">v{{VERSION}}</span>
                </a>
            </div>

            <ul class="nav">
                <li ng-class="{active: 'home' === toState.name}">
                    <a href="/">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li ng-class="{active: 'security-app' === toState.name}">
                    <a ui-sref="security-app">
                        <i class="pe-7s-user"></i>
                        <p>Security App</p>
                    </a>
                </li>
                <li ng-class="{active: 'security-resource-entity' === toState.name}">
                    <a ui-sref="security-resource-entity">
                        <i class="pe-7s-note2"></i>
                        <p>Security Resource Entity</p>
                    </a>
                </li>
                <li ng-class="{active: 'security-nav' === toState.name}">
                    <a ui-sref="security-nav">
                        <i class="pe-7s-news-paper"></i>
                        <p>Security Nav</p>
                    </a>
                </li>
                <li ng-class="{active: 'security-authority' === toState.name}">
                    <a ui-sref="security-authority">
                        <i class="pe-7s-science"></i>
                        <p>Security Authority</p>
                    </a>
                </li>
                <li ng-class="{active: 'security-role' === toState.name}">
                    <a ui-sref="security-role">
                        <i class="pe-7s-map-marker"></i>
                        <p>Security Role</p>
                    </a>
                </li>
                <li ng-class="{active: 'security-group' === toState.name}">
                    <a ui-sref="security-group">
                        <i class="pe-7s-bell"></i>
                        <p>Security Group</p>
                    </a>
                </li>
				<li ng-class="{active: 'security-user' === toState.name}">
                    <a ui-sref="security-user">
                        <i class="pe-7s-rocket"></i>
                        <p>Security User</p>
                    </a>
                </li>
            </ul>
    	</div>
        <!-- <div class="sidebar-background" style="background-image: url(app/layouts/sidebar/sidebar-1.jpg) "></div> -->
    </div>
