<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h4 class="modal-title" id="mySecurityResourceEntityLabel" translate="fortApp.securityResourceEntity.home.createOrEditLabel">Create or edit a Security Resource Entity</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="content">
                        <div class="form-group" ng-show="vm.securityResourceEntity.id">
                            <label for="id" translate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" ng-model="vm.securityResourceEntity.id" readonly />
                        </div>
                        <div class="form-group">
                            <label class="control-label" translate="fortApp.securityResourceEntity.name" for="field_name">Name</label>
                            <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.securityResourceEntity.name" required ng-maxlength="50" />
                            <div ng-show="editForm.name.$invalid">
                                <p class="help-block" ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block" ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                                    This field cannot be longer than 50 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" translate="fortApp.securityResourceEntity.url" for="field_url">Url</label>
                            <input type="text" class="form-control" name="url" id="field_url" ng-model="vm.securityResourceEntity.url" required />
                            <div ng-show="editForm.url.$invalid">
                                <p class="help-block" ng-show="editForm.url.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" translate="fortApp.securityResourceEntity.description" for="field_description">Description</label>
                            <input type="text" class="form-control" name="description" id="field_description" ng-model="vm.securityResourceEntity.description" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" translate="fortApp.securityResourceEntity.resourceType" for="field_resourceType">Resource Type</label>
                            <select class="form-control" name="resourceType" ng-model="vm.securityResourceEntity.resourceType" id="field_resourceType" required>
                                <option value="FUNCTION" translate="fortApp.ResourceEntityType.FUNCTION">FUNCTION</option>
                                <option value="NAV" translate="fortApp.ResourceEntityType.NAV">NAV</option>
                            </select>
                            <div ng-show="editForm.resourceType.$invalid">
                                <p class="help-block" ng-show="editForm.resourceType.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="fortApp.securityResourceEntity.app" for="field_app">App</label>
                            <select class="form-control" id="field_app" name="app" ng-model="vm.securityResourceEntity.app" ng-options="securityApp as securityApp.appName for securityApp in vm.securityapps track by securityApp.id" required>
                                <option value=""></option>
                            </select>
                            <div ng-show="editForm.app.$invalid">
                                <p class="help-block" ng-show="editForm.app.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-fill btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
