<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-fill btn-default" ui-sref="security-resource-entity.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="fortApp.securityResourceEntity.home.createLabel">
                        Create new Security Resource Entity
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'fortApp.securityResourceEntity.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-default" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-default" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped card">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span translate="fortApp.securityResourceEntity.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="url"><span translate="fortApp.securityResourceEntity.url">Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="fortApp.securityResourceEntity.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="resourceType"><span translate="fortApp.securityResourceEntity.resourceType">Resource Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="fortApp.securityResourceEntity.app">App</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="securityResourceEntity in vm.securityResourceEntities track by securityResourceEntity.id">
                    <td><a ui-sref="security-resource-entity-detail({id:securityResourceEntity.id})">{{securityResourceEntity.name}}</a></td>
                    <td>{{securityResourceEntity.url}}</td>
                    <td>{{securityResourceEntity.description}}</td>
                    <td translate="{{'fortApp.ResourceEntityType.' + securityResourceEntity.resourceType}}">{{securityResourceEntity.resourceType}}</td>
                    <td><a ui-sref="security-app-detail({id:securityResourceEntity.app.id})">{{securityResourceEntity.app.appName}}</a></td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="security-resource-entity-detail({id:securityResourceEntity.id})"
                                    class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="security-resource-entity.edit({id:securityResourceEntity.id})"
                                    class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="security-resource-entity.delete({id:securityResourceEntity.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
