
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySecurityNavLabel" translate="fortApp.securityNav.home.createOrEditLabel">Create or edit a Security Nav</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.securityNav.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.securityNav.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="fortApp.securityNav.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.securityNav.name"
                    required ng-maxlength="50" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="fortApp.securityNav.icon" for="field_icon">Icon</label>
            <input type="text" class="form-control" name="icon" id="field_icon"
                    ng-model="vm.securityNav.icon"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="fortApp.securityNav.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.securityNav.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="fortApp.securityNav.st" for="field_st">St</label>
            <input type="text" class="form-control" name="st" id="field_st"
                    ng-model="vm.securityNav.st"
                    ng-maxlength="60" />
            <div ng-show="editForm.st.$invalid">
                <p class="help-block"
                    ng-show="editForm.st.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="60">
                    This field cannot be longer than 60 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="fortApp.securityNav.parent" for="field_parent">Parent</label>
            <select class="form-control" id="field_parent" name="parent" ng-model="vm.securityNav.parent" ng-options="securityNav as securityNav.id for securityNav in vm.parents | orderBy:'id' track by securityNav.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="fortApp.securityNav.resource" for="field_resource">Resource</label>
            <select class="form-control" id="field_resource" name="resource" ng-model="vm.securityNav.resource" ng-options="securityResourceEntity as securityResourceEntity.id for securityResourceEntity in vm.resources | orderBy:'id' track by securityResourceEntity.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
