
<div>
    <h2><span translate="fortApp.securityUser.detail.title">Security User</span> {{vm.securityUser.id}}</h2>
    <hr>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="fortApp.securityUser.login">Login</span></dt>
        <dd>
            <span>{{vm.securityUser.login}}</span>
        </dd>
        <dt><span translate="fortApp.securityUser.passwordHash">Password Hash</span></dt>
        <dd>
            <span>{{vm.securityUser.passwordHash}}</span>
        </dd>
        <dt><span translate="fortApp.securityUser.email">Email</span></dt>
        <dd>
            <span>{{vm.securityUser.email}}</span>
        </dd>
        <dt><span translate="fortApp.securityUser.activated">Activated</span></dt>
        <dd>
            <span>{{vm.securityUser.activated}}</span>
        </dd>
        <dt><span translate="fortApp.securityUser.st">St</span></dt>
        <dd>
            <span>{{vm.securityUser.st}}</span>
        </dd>
        <dt><span translate="fortApp.securityUser.app">App</span></dt>
        <dd>
            <a ui-sref="security-app-detail({id:vm.securityUser.app.id})">{{vm.securityUser.app.id}}</a>
        </dd>
        <dt><span translate="fortApp.securityUser.role">Role</span></dt>
        <dd>
            <span ng-repeat="role in vm.securityUser.roles">
                <a ui-sref="security-role-detail({id: {{role.id}}})">{{role.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span translate="fortApp.securityUser.group">Group</span></dt>
        <dd>
            <span ng-repeat="group in vm.securityUser.groups">
                <a ui-sref="security-group-detail({id: {{group.id}}})">{{group.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
