<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-fill btn-default" ui-sref="security-user.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="fortApp.securityUser.home.createLabel">
                        Create new Security User
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'fortApp.securityUser.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-default" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-default" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped card">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="login"><span translate="fortApp.securityUser.login">Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span translate="fortApp.securityUser.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activated"><span translate="fortApp.securityUser.activated">Activated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="app.id"><span translate="fortApp.securityUser.app">App</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="securityUser in vm.securityUsers track by securityUser.id">
                    <td><a ui-sref="security-user-detail({id:securityUser.id})">{{securityUser.login}}</a></td>
                    <td>{{securityUser.email}}</td>
                    <td>{{securityUser.activated}}</td>
                    <td>
                        <a ui-sref="security-app-detail({id:securityUser.app.id})">{{securityUser.app.appName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="security-user-detail({id:securityUser.id})"
                                    class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="security-user.edit({id:securityUser.id})"
                                    class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="security-user.delete({id:securityUser.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
