
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySecurityLoginEventLabel" translate="fortApp.securityLoginEvent.home.createOrEditLabel">Create or edit a Security Login Event</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.securityLoginEvent.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.securityLoginEvent.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="fortApp.securityLoginEvent.tokenValue" for="field_tokenValue">Token Value</label>
            <input type="text" class="form-control" name="tokenValue" id="field_tokenValue"
                    ng-model="vm.securityLoginEvent.tokenValue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="fortApp.securityLoginEvent.tokenOverdueTime" for="field_tokenOverdueTime">Token Overdue Time</label>
                <div class="input-group">
                    <input id="field_tokenOverdueTime" type="text" class="form-control" name="tokenOverdueTime" datetime-picker="{{dateformat}}" ng-model="vm.securityLoginEvent.tokenOverdueTime" is-open="vm.datePickerOpenStatus.tokenOverdueTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('tokenOverdueTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="fortApp.securityLoginEvent.ipAddress" for="field_ipAddress">Ip Address</label>
            <input type="text" class="form-control" name="ipAddress" id="field_ipAddress"
                    ng-model="vm.securityLoginEvent.ipAddress"
                    ng-maxlength="39" />
            <div ng-show="editForm.ipAddress.$invalid">
                <p class="help-block"
                    ng-show="editForm.ipAddress.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="39">
                    This field cannot be longer than 39 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="fortApp.securityLoginEvent.userAgent" for="field_userAgent">User Agent</label>
            <input type="text" class="form-control" name="userAgent" id="field_userAgent"
                    ng-model="vm.securityLoginEvent.userAgent"
                     />
        </div>

        <div class="form-group">
            <label translate="fortApp.securityLoginEvent.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.securityLoginEvent.user" ng-options="securityUser as securityUser.id for securityUser in vm.securityusers track by securityUser.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
