<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-default btn-fill btn-wd" ui-sref="security-authority-new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="fortApp.securityAuthority.home.createLabel">
                        Create new Security Authority
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'fortApp.securityAuthority.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-default" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-default" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3" ng-repeat="securityAuthority in vm.securityAuthorities track by securityAuthority.id">
            <div class="card">
                <p class="right-top">
                    <button type="button" class="btn btn-default btn-simple btn-xs" ui-sref="security-authority.edit({id:securityAuthority.id})">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-simple btn-xs" ui-sref="security-authority.delete({id:securityAuthority.id})">
                        <i class="fa fa-times"></i>
                    </button>
                </p>
                <div class="header" ui-sref="security-authority-detail({id:securityAuthority.id})">
                    <h4 class="title">{{securityAuthority.name}}</h4>
                    <p class="category">{{securityAuthority.app.appName}}</p>
                </div>
                <div class="content">
                    <p>{{securityAuthority.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
